 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-image-1 {
  height: 318px;
  width: 605px;
  margin: 0 auto 60px calc(((100% - 340px) / 2) + -86px);
}

.u-section-1 .u-btn-1 {
  background-image: none;
  font-weight: normal;
  text-transform: none;
  font-size: 1rem;
  letter-spacing: normal;
}

.u-section-1 .u-icon-1 {
  font-size: 1.3em;
}

@media (max-width: 1199px) {
  .u-section-1 .u-btn-1 {
    margin-top: 20px;
  }
}

@media (max-width: 991px) {
   .u-section-1 {
    min-height: 455px;
  }

  .u-section-1 .u-image-1 {
    height: 399px;
    margin-bottom: 0;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-btn-1 {
    margin: -28px auto 28px;
  }
}

@media (max-width: 767px) {
   .u-section-1 {
    min-height: 396px;
  }

  .u-section-1 .u-image-1 {
    margin-top: -2px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-btn-1 {
    margin-top: -26px;
    margin-bottom: 16px;
  }
}

@media (max-width: 575px) {
   .u-section-1 {
    min-height: 381px;
  }

  .u-section-1 .u-image-1 {
    margin-top: 3px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-btn-1 {
    border-style: none;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 0.875rem;
    letter-spacing: 2px;
    margin-top: -25px;
    margin-bottom: 34px;
    padding: 11px 50px 11px 49px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 243px;
}

.u-section-2 .u-text-1 {
  margin-bottom: 60px;
}

.u-section-2 .u-text-2 {
  width: auto;
  font-size: 1.5rem;
  margin: 337px auto 0;
}

.u-section-2 .u-text-3 {
  width: auto;
  margin: 23px 0 58px;
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 408px;
  }

  .u-section-2 .u-text-1 {
    width: auto;
    margin: -442px auto 0;
  }

  .u-section-2 .u-text-2 {
    margin-top: 435px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-3 {
    margin-top: 18px;
    margin-bottom: 26px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 455px;
  }

  .u-section-2 .u-text-1 {
    margin-top: -436px;
  }

  .u-section-2 .u-text-2 {
    margin-top: 426px;
  }

  .u-section-2 .u-text-3 {
    margin-top: 15px;
    margin-bottom: 15px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 592px;
  }

  .u-section-2 .u-text-1 {
    margin-top: -444px;
  }

  .u-section-2 .u-text-2 {
    margin-top: 433px;
  }

  .u-section-2 .u-text-3 {
    margin-top: 14px;
    margin-bottom: 26px;
  }
}