.u-section-1 .u-sheet-1 {
  min-height: 334px;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  margin: 71px 78px 0;
}

.u-section-1 .u-text-2 {
  margin: 21px 78px 60px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-1 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 328px;
}

.u-section-2 .u-image-1 {
  width: 434px;
  height: 302px;
  margin: 0 auto 0 0;
}

.u-section-2 .u-text-1 {
  font-weight: 700;
  margin: -237px 140px 0 auto;
}

.u-section-2 .u-text-2 {
  margin: 26px 65px 60px 477px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-text-1 {
    margin-top: 20px;
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-2 .u-text-2 {
    margin-left: 342px;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-text-2 {
    margin-left: 122px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-text-1 {
    margin-top: -237px;
    margin-right: 140px;
    margin-left: auto;
  }

  .u-section-2 .u-text-2 {
    margin-left: 0;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 263px;
  }

  .u-section-2 .u-image-1 {
    width: 340px;
    height: 237px;
  }

  .u-section-2 .u-text-1 {
    margin-top: -172px;
    margin-right: 88px;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 330px;
}

.u-section-3 .u-image-1 {
  width: 214px;
  height: 310px;
  margin: 10px 37px 0 auto;
}

.u-section-3 .u-text-1 {
  font-weight: 700;
  margin: -288px auto 0 37px;
}

.u-section-3 .u-text-2 {
  margin-left: 37px;
  margin-right: auto;
  margin-bottom: 60px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-image-1 {
    height: 311px;
  }

  .u-section-3 .u-text-1 {
    margin-top: -289px;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 329px;
}

.u-section-4 .u-image-1 {
  width: 109px;
  height: 301px;
  margin: 24px auto 0 13px;
}

.u-section-4 .u-text-1 {
  font-weight: 700;
  margin: -292px auto 0 177px;
}

.u-section-4 .u-text-2 {
  margin-left: 177px;
  margin-right: auto;
  margin-bottom: 60px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-image-1 {
    height: 300px;
  }

  .u-section-4 .u-text-1 {
    margin-top: -291px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-text-1 {
    margin-left: 111px;
  }

  .u-section-4 .u-text-2 {
    margin-left: 111px;
  }
}.u-section-5 .u-sheet-1 {
  min-height: 366px;
}

.u-section-5 .u-text-1 {
  margin: 23px auto 0;
}

.u-section-5 .u-text-2 {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0;
}

.u-section-5 .u-btn-1 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  margin: 23px 489px 60px auto;
}

@media (max-width: 1199px) {
  .u-section-5 .u-btn-1 {
    margin-right: 289px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-btn-1 {
    margin-right: 69px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-btn-1 {
    margin-right: 0;
  }
}